{
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["./src"]
            }
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "jest": true
    },
    "extends": "eslint-config-unosquare",
    "plugins": ["prettier"],
    "rules": {
        "no-extend-native": 0,
        "no-param-reassign": 0
    }
}
