{
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["prettier", "@typescript-eslint"],
    "rules": {
        "no-extend-native": 0,
        "no-param-reassign": 0,
        "max-classes-per-file": 0,
        "@typescript-eslint/no-explicit-any": "warn"
    }
}
