name: Node CI

on: [push]

jobs:
  build:
    runs-on: [ubuntu-latest]
    
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v1
        with:
          path: ~/.npm
          key: node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            node-
      - uses: stefanoeb/eslint-action@1.0.0
        with:
          args: './src/**/*.{js,ts,tsx}'
      - name: npm build and unit
        run: |
          npm ci
          npm run build
          npm test